@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

@media only screen and (max-width: 700px) {
	.Device {
		display: grid;
	}
	.Avatar {
		width: 74px;
		height: 74px;
	}
}

* {
	font-family: 'Fragment Mono';
	color: white;
}

.ico {
	margin-left: auto;
	margin-right: auto;
}

.Link :hover {
	color: red;
}

body {
	background: #202023;
}
